@()
<script src='@routes.Assets.versioned("javascripts/lib/todomvc-common/base.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("lib/angularjs/angular.js")'></script>
<!--script type='text/javascript' src='/assets/lib/angularjs/angular.js'></script-->
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/models/TodoItem.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/interfaces/ITodoScope.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/interfaces/ITodoStorage.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/directives/TodoFocus.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/directives/TodoBlur.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/services/TodoStorage.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/controllers/TodoCtrl.js")'></script>
<script type='text/javascript' src='@routes.Assets.versioned("javascripts/Application.js")'></script>